*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #111;
    min-height: 100vh;
}

.container{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .ring{
    position: relative;
    width: 150px;
    height: 150px;
    margin: -30px;
    background: transparent;
    border: 4px solid transparent;
    border-top: 4px solid #24ecff;
    border-radius: 50%;
    animation: animated 2s linear infinite;
}
@keyframes animated {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.container .ring::before{
    content: '';
    width: 15px;
    height: 15px;
    background: turquoise;
    position: absolute;
    top: 12px;
    right:12px;
    border-radius: 50%;
    box-shadow: 0 0 0 5px #24ecff33,
    0 0 0 8px #24ecff22,
    0 0 15px #24ecff11,
    0 0 20px #24ecff,
    0 0 50px #24ecff;
}
.container .ring:nth-child(2){
    animation: animated2 2s linear infinite;
    border-top: 4px solid transparent;
    animation-delay: -0.5s;
    border-left: 4px solid #e03df5;

}

.container .ring:nth-child(2):before{
    content: '';
    width: 15px;
    top: initial;
    height: 15px;
    background: #e03df5;
    position: absolute;
    bottom: 12px;
    left:12px;
    border-radius: 50%;
    box-shadow: 0 0 0 5px #e03df533,
    0 0 0 8px #e03df522,
    0 0 15px #e03df511,
    0 0 20px #e03df5,
    0 0 50px #e03df5;
    
}
@keyframes animated2{
    0%{
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
.container .ring:nth-child(3){
    animation: animated2 2s linear infinite;
    animation-delay: -1.5s;
    position:absolute;
    top: -66px;
    border-top: 4px solid transparent;
    border-left: 4px solid #d50505;

    
}
.container .ring:nth-child(3)::before{
    content: '';
    width: 15px;
    top: initial;
    height: 15px;
    background: #d50505;
    position: absolute;
    bottom: 12px;
    left:12px;
    border-radius: 50%;
    box-shadow: 0 0 0 5px #d5050533,
    0 0 0 8px #d5050522,
    0 0 15px #d5050511,
    0 0 20px #d50505f5,
    0 0 50px #d50505f5;
    
}

.container p{
    position: absolute;
    font-size: 30px;
    font-family: consolas;
    color: #fff;
    bottom:-100px;
    letter-spacing: 0.1em;
}